---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <div id="lightbox" class="modal">
      <span class="close">&times;</span>
      <span class="arrow left">&#10094;</span>
    
      <div class="lightbox-content-wrapper">
        <img class="modal-content" id="fullImg">
        <div class="caption-panel" id="captionPanel"></div>
      </div>
    
      <span class="arrow right">&#10095;</span>
    </div>
    
  </body>

  
</html>

